@charset "utf-8";
/* CSS Document */


*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	margin:0px;
	padding:0px;
	font-size:12px;
	background-color:#FFF;
	font-family:arial,"Hiragino Sans GB","Microsoft Yahei",sans-serif;
	color:#333;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}
p{ margin:0px;}
.clear{
	clear:both;
}
/*******nav********/
#nav_outter{ border-bottom:1px solid #78BF19; width: 100%; height: 114px;}
.nav{
	height: 114px;
    margin: 0 auto;
    width: 1170px;
}
.container > section {
    padding: 10em 3em;
    text-align: center;
}
.cl-effect-12{
    height: 114px;
    float: left;
}
#logo{
	background:url(../images/logo.png) no-repeat;
	background-position:right bottom;
	width:460px;
	height:97px;
	float:left;
}
#logo a{
	display:block;
	margin:20px 0px 0px 20px !important;
	margin:0px;
	text-decoration: none;
	padding:0px;
	width:460px;
	height:97px;

}
#logo a::before,
#logo a::after {
	position:inherit;
	top: 0%;
	left: 0%;
	border: none ;
	border-radius: 50%;
	content: '';
	opacity: 0;
}
.cl-effect-12 img{
    transition: all 0.4s ease 0s;
	margin-left:10px !important;
	margin-left:0px;
}
.cl-effect-12 a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #636363;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size:18px;
	padding:0px;
	float:left;
	margin:44px 0px 0px 63px;

}

cl-effect-12 a:hover,
cl-effect-12 a:focus {
	outline: none;
}
/* Effect 12: circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: #b1f064 2px solid ;
	border-radius: 50%;
	content: '';
	opacity: 0;
	color:#b1f064;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
	width: 80px;
	height: 80px;
	color:#b1f064;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}
.cl-effect-12 a:hover{
	color:#b1f064;
}
.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

#nav_right{
    margin: 0px;
    padding: 0;
    position:relative;
    text-align: right;
    float: left;
    display: inline;
    width: 228px !important;
    width: 220px; 
    margin-left: 30px;
    padding-top: 46px;
	
}
.vip li{ font-size:13px; border-right:#636363 1px solid;}
#nav_right p{ float:left; color:#636363; padding-top:1px;}
#nav_right a{ direction:none; }
#nav_right  li{
	float:left;
	width:auto !important;
	width:expression(document.body.clientWidth <= 36? "36px": "auto" );
	min-width:36px;
	font-size:12px;
	padding-right:9px;
	text-align:right;
	margin-right:9px ;
	font-family:Microsoft YaHei;
	color:#8a8a8a;
	font-weight:300;
}
#nav_right  li a{
	text-decoration:none;	
	position: relative;
	display: inline-block;
	outline: none;
	color: #636363;
	text-decoration: none;
	letter-spacing: 0px;
	font-weight:0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size:12px;
	padding:0px;
	margin:0px;
	float:left;
	}
/***banner****/
/* Fill in */
.dotstyle{
	position:absolute;
	left:48%;
	bottom:1%;
	height:30px;
	overflow:hidden;
	width:100px;
	z-index:9;
}
.dotstyle ul {
	opacity:1;filter:alpha(opacity=100);
	width: 300px;
	height: 50px;
}

.dotstyle li {
	position: relative;
	display: block;
	float: left;
	width: 16px;
	height: 16px;
	cursor: pointer;
	float:left;
	cursor:pointer;
	height:15px;
	width:15px;
	overflow:hidden;
	margin-right:10px; 
}

.dotstyle li b {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	outline: none;
	border-radius: 50%;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.3);
	text-indent: -999em; /* make the text accessible to screen readers */
	cursor: pointer;
	position: absolute;
	z-index: 9999;
}

.dotstyle li b:focus {
	outline: none;
}


/* Fill in */
.focus{height:500px;overflow:hidden;position:relative;}
/* focus_m */
.focus_m ul{opacity:1;filter:alpha(opacity=100);}
.focus_m li{width:100%;height:500px;position:absolute;top:0;left:0;}
/* focus_l focus_r */
/* focus_l focus_r */
.focus_l,.focus_r{position:absolute;display:block;width:50px;height:75px;overflow:hidden;z-index:2;top:222px;}
.focus_l{left:0;}
.focus_r{right:0;}
.focus_l b,.focus_r b{position:absolute;z-index:1;display:block;width:50px;height:75px;overflow:hidden;opacity:0.3;filter:alpha(opacity=30);cursor:pointer;}
.focus_l span,.focus_r span{display:inline-block;position:relative;z-index:2;width:31px;height:56px;top:21px;cursor:pointer; margin-right:28px;}
.focus_l span{left:12px;background-image:url(l.png);_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='l.png');}
.focus_r span{left:16px;background:url(r.png) 0 0 no-repeat;_background:none;_filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='r.png');}
.focus_l:hover span,.focus_r:hover span{opacity:0.9;filter:alpha(opacity=100);}
.focus_i{ width:1170px; margin:0px auto; position:relative;}

.dotstyle-fillin li b {
	background-color: transparent;
	box-shadow: inset 0 0 0 2px #6a6a6a;
	-webkit-transition: box-shadow 0.3s ease;
	transition: box-shadow 0.3s ease;
}

.dotstyle-fillin li b:hover,
.dotstyle-fillin li b:focus {
	box-shadow: inset 0 0 0 2px #6a6a6a;
}

.dotstyle-fillin li.current b {
	box-shadow: inset 0 0 0 8px #71ec3a;
}

@media screen and (max-width: 42em) {
	.wrap > div {
		float: none;
		width: 100%;
	}

	.dotstyle:nth-child(4n),
	.dotstyle:nth-child(4n-3) {
		background-color: rgba(0, 0, 0, 0);
	}

	.dotstyle:nth-child(odd) {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
/****banner end*******/
/********main begin************/
.main{
	width:1170px;
	margin:0px auto;
}
.module{
	width:1170px;
	height:313px;
	margin:0xp auto;
	padding-top:60px;
}
.module_1{
	width:316px;
	margin-left:63px;
	float:left;
	height:313px;
	display:inline;
}
.module_2{
	width:316px;
	margin-left:49px;
	float:left;
	height:313px;
	display:inline;
}
.module_text{
	margin:20px 0px 0px 6px;
}
.module_3{
	width:316px;
	margin-right:62px !important;
	margin-right:32px;
	float:right;
	display:inline;
}
.module_bar_1{
	background:url(module_03_01.jpg) no-repeat;
	width:316px;
	height:9px !important;
	height:3px;
}
.module_bar_2{
	background:url(module_03_03.jpg) repeat-y;
	width:316px;
	height:283px;
	margin-top:0px !important;
	margin-top:-6px;
}
.module_bar_2 h1{
	font-size:12px;
	color:#999999;
	font-weight:bold;
	margin:0px;
	width:179px;
	display:inline-block;
	margin:12px 0px 0px 67px;
}
.orcle{
	margin-top: 20px;
	background:url(orcle.png) no-repeat;
	width: 157px;
	height: 154px;
}
.plane{
	width: 157px;
	height: 154px;
	overflow: hidden;
}
.orcle_b{
	margin-top: 38px;
	background:url(orcle.png) no-repeat;
}
.module_bar_2 h2{
		font-size:12px;
	color:#999999;
	font-weight:bold;
	margin:0px;
	width:179px;
	display:inline-block;
	margin:12px 0px 0px 83px;
}
.module_bar_3{
	background:url(module_03_05.jpg) no-repeat;
	width:316px;
	height:10px;
}
.feature_icon{
	padding:34px 0 0 77px;
}
.feature_icon p{
	padding-left:18px;
	}
#feature_time{	
	width:155px;
	position:absolute;
	margin:42px 0 0 71px;
	height:200px;
}
#feature_time p{
	margin:52px 0 0 17px;
}
#feature_time h1{
	margin:17px 0 0 -5px;
}
.btFeed{background:url(feature-04.png) no-repeat;}
.thickness{ margin: 54px 0px 0px 24px;}
.thicknessBox{
	position:absolute;
	margin:57px 0 0 25px;
	display:block;
	z-index:999;
	cursor:pointer;
	height:60px;
}	
.xyxs{
	width:1170px;
	margin:0px auto;
	height:199px;
	text-align:center;
}
.xyxs img{
	margin:57px 0px 35px 0px !important;
	margin:57px 0px 35px 0px ;
	width:189px;
	height:42px;
}
.xyxs p{
	line-height:25px;
	font-family:Microsoft YaHei;
	color:#a4a4a4;
	font-weight:bold;
	font-size:14px;
}
.pledge{
	width:1170px;
	margin:0px auto;
	height:326px;
	text-align:center;
}
.pledge img {
	margin-top:97px;
	width:571px;
	height:56px;
}
#shunfeng{
	width: 70px;
	}
.pledge ul{
	height: 44px;
    margin: 0 auto;
    padding-left: 126px;
    padding-top: 20px;
    width: 567px;
}
.pledge ul li{
	float:left;
	width:140px;
	text-align:left;
}
.pledge ul li span{
	font-size:36px;
	font-family:Arial, Helvetica, sans-serif;
	font-weight:bold;
	color:#989898;
	display:block;
	float:left;
}
.pledge ul li p{
	padding-top:22px;
	line-height:22px;
	font-family:Arial, Helvetica, sans-serif;
	float:left;
	text-align:right;
	width:70px;
	color:#d4d4d4;
	font-weight:bold;
}
.contact{
	height:73px;
	padding-left:92px;
}
.phone{
	float:left;
	margin:-6px 0px 0px 38px !important;
	margin:0px 0px 0px 50px ;
}
.contact li{
	width:239px !important;
	width: 250px;
	float:left;
	border-right:#989898 1px solid;
	height:31px !important;
}
.contact li p{
	width:130px;
	margin-left:106px;
	font-size:12px;
	color:#828282;
	margin-top:-6px !important;
	margin-top:0px;
}
.contact li p a{
	text-decoration: none;;
	color: #828282;
}
.contact li strong{
	display:block;
	font-size:16px;
	font-family:Microsoft YaHei;
	
}
.weixin{
	float:left;
	margin:-6px 0px 0px  26px !important;
	margin:0px 0px 0px 35px ;
	
}
.weixin2{
	display:none;
	float:left;
	margin:-22px 0 0 15px!important;
	margin:0px 0px 0px 20px ;
	cursor:pointer;
}
.weibo{
	float:left;
	margin:-6px 0px 0px 37px !important;
	margin:0px 0px 0px 35px ;
	cursor:pointer;
} 
.weibo2{
	display:none;
	float:left;
	margin:-22px 0 0 14px  !important;
	margin:0px 0px 0px 20px ;
	cursor:pointer;
}
/******footer*******/
.footer{
	width:100%;
	background-color:#f6f6f6;
	height:136px;
	border-top:#71ec3a 1px solid;
	margin-top:20px;
}
.foot{
	width:1170px;
	margin:0px auto;
	height:136px;
}
.foot a{ text-decoration:none; color:#939393}
.footer ul{
	width:223px;
	margin:0px auto;
	font-size:14px;
	color:#939393;
	padding-top:28px;
	height:20px;

}
.footer ul li{
	float:left;
	width:74px;
	height:22px;
}
.beian{
	padding-top:10px;
	width:239px;
	margin:0px auto;
	background:url(dx_beian_03.jpg) no-repeat bottom left;
	height:44px;
}
.footer p{
	color:#acacac;
	width:232px;
	margin:0px auto;
	padding-top:10px;
}
/**shop**/
a{
	text-decoration:none;
	color:#646464;
}
p{ margin:0px;}
#c_li{ border:none;}
.clear{
	clear:both;

}
.shop_car{ color:#FFF; font-weight:bold;}
.red{ color:#f05d5d}
.green{ color:#78bf19;}
.btn_green{background-color:##78bf19;}
.top{
	width:1170px;
	margin:0px auto;
	height:122px;
	margin:0px auto;
}
.top img{ width:83px; height:81px;margin: 25px 0 0 309px;}
.shop_poistion{
	height:30px;
	width:261px;
	float:left;
	background:url(poistion_01.jpg) no-repeat;
	margin:80px 0px 0px 0px ;
	float: left;
}
.shop_poistion1{
	height:30px;
	width:261px;
	float:left;
	background:url(poistion_02.jpg);
	margin:80px 0px 0px 0px ;
}
.shop_poistion2{
	height:30px;
	width:261px;
	float:left;
	background:url(poistion_03.jpg);
	margin:80px 0px 0px 0px ;
}
.shop_poistion_1{
	background:url(poistion_02.jpg);
	color:#FFF;
}
.shop_poistion1 ul,.shop_poistion2 ul{
	padding:0px;
	vertical-align:top;
	margin:6px 0px;
}
.shop_poistion1 ul li,.shop_poistion2 ul li{
	float:left;
	width:87px;
	height:20px;
	text-align:center;
	font-family:Microsoft YaHei;
}
.shop_poistion ul{
	padding:0px;
	vertical-align:top;
	margin:6px 0px !important;
	margin: 10px 0px;
}
.shop_poistion ul li{
	float:left;
	width:87px;
	height:20px;
	text-align:center;
	font-family:Microsoft YaHei;
}
.top_right{
	float:right;
	margin:89px 0px 0px 0px;
	*margin:-20px 0px 0px 0px ;
	text-align: center;
	color:#999999;
}
.top_right li{
	float:left;
	text-align:center;
	height:12px;
	font-size:12px;
	vertical-align:top;
	display: inline-block;
	padding-bottom:3px;
	margin-left: 16px;
}
.top_right li a{ text-decoration:none; color:#999999;}
.bar{
	width:1170px;
	height:37px;
	border-radius:5px;
	background-color:#78bf19;
	margin:0px auto;
}
.bar1{ margin-bottom:15px;}
.bar p{
	font-size:18px;
	color:#fff;
	margin:0px;
	padding:0px;
	font-weight:bold;
	letter-spacing:1px;
	padding:9px 0px 0px 0px ;
	margin-left:24px;
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	
.bar p{
	font-size:18px;
	color:#fff;
	margin:0px;
	padding:0px;
	font-weight:bold;
	letter-spacing:1px;
	padding:7px 0px 0px 0px ;
	margin-left:24px;
}
}
.bar_1{
	width:1170px;
	margin:0px auto;
	height:26px;
	padding:0px;
	height: 50px;
}
.dx_goods{
	padding-top: 19px;
	height:26px;
	float:left;
	text-align:right;
	font-size:14px;
	width:  153px;
}
.dx_price{
	height:26px;
	float:left;
	padding-top:19px;
	text-align:right;
	font-size:14px;
	width:294px
}
.num{
	width:252px;
	height:26px;
	float:left;
	padding-top:19px;
	text-align:right;
	font-size:14px;
}

.xj{
	padding-top:19px;
	width:366px;
	height:26px;
	float:left;
	text-align:right;
	font-size:14px;
}
.order{
	width:1168px;
	margin:0px auto;
	height:auto !important;
	min-height:340px;
	height:340px;
	background-color:#fdfdfd;
	border:#f6f5f5 1px solid;
	border-radius:5px;
}

.order_1{
	width:1170px;
	margin:0px auto;
	height:152px;
	border-bottom:#f6f5f5 1px solid;
}
.goods_img{
	margin:0px 0 0 12px;
	float:left;
	width:120px !important;
	width:120px;
	height:120px;
	padding:0px;
}
.goods_name{
	width:1002px;
	padding:21px 0px 0px 0px ;
	float:right;
}
.g_name{
	font-size:16px;
	color:#4c4c4c;
	font-weight:bold;
	height:54px;
	letter-spacing:1px;
	width:185px;
	float:left;
}
.change-goods-num {
    text-align: center;
	width:127px;
	margin-left:170px;
	float:left;
}
.change-goods-num a {
    border-radius: 5px;
    display: inline-block;
    height: 19px;
    margin: 0 5px;
    opacity: 0.7;
    vertical-align: middle;
    width: 19px;
}
.goodsNumMinus { background:url(num_03.jpg);}
.goodsNumPlus { background:url(num_05.jpg);}
.change-goods-num .goods-num {
    border: 1px solid #E6E9ED;
    border-radius: 5px;
    color: #434A54;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.change-goods-num .goods-num {
    border: 1px solid #E6E9ED;
    border-radius: 5px;
    color: #434A54;
    font-size: 12px;
    height: 18px;
    line-height: 18px;
    padding: 0;
    text-align: center;
    vertical-align: middle;
    width: 50px;
}
.change-goods-num a:hover {
    opacity: 1;
}
.g_price{float:left; margin-left:58px;display:inline;}
.g_num{  width:50px; height:20px; border-radius:5px;border:#c4c4c4 1px solid; margin-top:-0px; display:inline;}
.g_color{float:left; margin-left:41px ;  width:36px; height:11px; background-color:#78bf19; border-radius:5px;display:inline; margin-top:5px;}
.g_sum{float:none; margin-left:175px; display:inline;}
.bianhao{
	height:75px;
	border-top:#f6f5f5 1px solid;
	float:left;
	width:100%;
	padding-top: 20px;
}
.goods_number{ text-align:right; }
.bianhao p{
	padding-top:4px;
	font-family:"宋体";
	letter-spacing:0.8px;
	font-size:12px;
	width:200px;
}

.cart-main .p-spec {
	padding: 0 34px;
}

.cart-main .order-price {
	padding: 0px;
	float:right;
	line-height: 30px;
	white-space: nowrap;
	width: 200px;
}

.p-action {
	float: right;
	padding-right: 32px;
}

.order_2{
	width:1170px;
	height:91px;
	margin:0px auto;
	border-bottom:#dcdcdc 1px solid;
}
.youhui{
	width:176px;
	float:left;
	height:91px;
	line-height:23px;
	padding-left:49px;
}
.p1{
	color:#78bf19;
	font-size:16px;
	font-weight:bold;
	font-family:Microsoft YaHei;
}
.p2{
	color:#000;
	font-size:13px;
	font-weight:bold;
	padding-top:16px;
}
.p3{
	color:#a8a8a8;
	font-size:12px;
	font-weight:bold;
}
.sum_price{
	font-weight:bold;
	color:#898989;
	float:right;
	margin-right:62px;
}
.sum{
	font-size:14px;
	color:#000;
	line-height:54px;
}
.sum span{ display:inline; color:#78bf19; font-size:24px;}
.sum span b{ font-size:14px;}
.order_3{ width:1170px; margin:0px; height:70px; border-top:1px solid #DCDCDC}
.order_3 a{ color:#d0d0d0; text-decoration:none;}
.tijiao{ float:right; margin:13px 0px 0 400px;*margin-left: -30px; display:inline; position: absolute;width: 220px;}
.order_3 p{ font-weight:bold; float:left; width:100px; padding-top:19px; margin-left:44px;}
.btn{border-radius:5px;  float:left; color:#FFF; font-weight:bold; font-size:14px; text-align:center; }
.btn a{ text-decoration:none; color:#FFF; margin:0px;}
.btn01 { background:#78bf19; width:110px; height:22px; padding:5px; margin-bottom: 5px; line-height: 22px;}
.btn02{
	background: none repeat scroll 0 0 #78BF19;
    height: 36px;
    padding: 6px;
    width: 97px;
	margin-left:20px;
	float: left;
}
.btn_ad{
	background: none repeat scroll 0 0 #78BF19;
    height: 30px;
    padding: 6px;
    width: 160px;
	border-radius: 6px;
	color: #fff;
	font-size: 12px;
}
.address-actions button{ border: none;}
.btn08{
	background: none repeat scroll 0 0 #78BF19;
    height: 36px;
    padding: 6px;
    width: 97px;
	margin-left:20px;
}
.btn11{
	background: none repeat scroll 0 0 #78BF19;
    width: 97px;
	margin-left:10px;
}
.btn11 span{
	background-color:transparent;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    line-height: 1.91667;
    padding-left: 0px;
    padding-right: 0px;
}
.btn10{
	background: none repeat scroll 0 0 #78BF19;
    height: 37px;
    padding: 6px;
    width: 138px;
}
.btn10 span{
	background-color:transparent;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    line-height: 1.91667;
    padding-left: 0px;
    padding-right: 0px;
}
.btn08 span{
	background-color:transparent;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    line-height: 1.91667;
    padding-left: 0px;
    padding-right: 0px;
}
.btn03{
	background-color:transparent;
	color:#d0d0d0;
}
.btn03 span{ background-color:transparent;}
.btn02 span{
	background-color:transparent;
    display: inline-block;
    font-size: 14px;
    height: 100%;
    line-height: 1.91667;
    padding-left: 0px;
    padding-right: 0px;
}
.btn1{margin:0px;}
.btn1 span{ background:#78bf19; width:59px; height:32px; line-height: 32px; margin:0px; }
.btn2{ 
	background:#d0d0d0;   
	height: 20px;
    padding: 8px;
    width: 80px;}
.adress_btn2{
    height: 33px;
    padding: 0;
    width: 86px;
	margin-top:10px;
	background:#d0d0d0;
}
.adress_btn{
    height: 33px;
    padding: 0;
    width: 86px;
	margin-top:10px;
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#7BC21C),color-stop(100%,#78bf19));
	background-image: -webkit-linear-gradient(#7BC21C,#78bf19);
	background-image: -moz-linear-gradient(#7BC21C,#78bf19);
	background-image: -o-linear-gradient(#7BC21C,#78bf19);
	background-image: linear-gradient(#7BC21C,#78bf19);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF78bf19',endColorstr='#FF78bf19') \9;
}
.adress_btn:hover {
	background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#78bf19),color-stop(100%,#68A516));
	background-image: -webkit-linear-gradient(#78bf19,#68A516);
	background-image: -moz-linear-gradient(#78bf19,#68A516);
	background-image: -o-linear-gradient(#78bf19,#68A516);
	background-image: linear-gradient(#78bf19,#68A516);
	filter: progid:DXImageTransform.Microsoft.gradient(enabled=true,gradientType=0,startColorstr='#FF78BF19',endColorstr='#FF68A516') \9;
}
/******order_scuess*********/
.order_info{
	width:1170px;
	margin:0px auto;
	background-color:#fffcf6;
	height:151px;
	border-radius:5px;
	margin-top:12px;
	color:#974c1b;
}
.btn3{   
	background: none repeat scroll 0 0 #78BF19;
    float: right;
    height: 36px;
    width: 100px;
}
.btn3 span{ background-color:transparent; padding:3px;}
.order_info p{
	float:right;
	text-align:right;
	word-break:break-all;
	white-space:pre-line;
}
.order_info b{ display:inline-block; float:left; width:41px; letter-spacing:1px;}
.order_info pre{
	margin:0px ;
	padding-left: 76px;
	word-break:break-all;
	white-space:pre-line;
}
.order_num{
	width:179px;
	margin-left:26px;
	padding-top:26px !important;
	padding:2px;
}
.order_price{
	width:123px !important;
	width:125px;
	margin-left:26px;
	padding-top:18px !important;
	padding-top:2px;
}
.order_price p{ color:#ffb098;}
.order_peisong{
	width:auto !important;
	min-width:460px;
	width:460px;
	margin-left:26px;
	padding-top:20px !important;
	padding-top:10px;
}
.order_peisong p{ text-align:left;}
.pay{
	width:1170px;
	margin:0px auto;
	height:41px;

}
.pay p{	
	font-size:16px;
	font-weight:bold;
	color:#4c4c4c;
	padding:11px 0px 0px 12px;
}
.pay_tab{
	width:1170px;
	margin:0px auto;
	height:588px;
}
.pay_tj{
	width:1170px;
	margin:0px auto;
	height:85px;
}
/*********information*********/
.information{
	width:1168px;
	margin:0px auto;
	border:#f6f5f5 1px solid;
	border-radius:5px;
	margin-top:19px;
	font-size:14px;
	color:#4c4c4c;
}
.hd{
	margin:0px auto;
	height:29px;
	padding:9px 0px 0px 19px;
	border-bottom:#dcdcdc 1px solid;
	font-size:16px;
	font-weight:bold;
}
.bd{
	height:auto !important;
	height:427px;
	min-height:126px;
	padding-top:24px;
	line-height:24px;
}
.hd_zf{
	margin:0px auto;
	height:29px;
	padding:9px 0px 0px 19px;
	border-bottom:#dcdcdc 1px solid;
	font-size:16px;
	font-weight:bold;
}
.bd_zf{
	height:84px;
	padding-top:24px;
	line-height:24px;
}
.bd_zf li{
	letter-spacing:1px;
	padding-left:25px;
}
.bd li{
	letter-spacing:1px;
	padding-left:25px;
}
.bd li label{
	margin-left:13px;
}
.btn4{
	background-color:#aeaeae;
	margin:36px 0px 40px 25px;
	vertical-align:middle;
	height:26px;
	width:76px;
	padding:0px;
	font-size:12px;
	text-align:left;
	cursor:pointer;
	position:absolute;
}
.btn4 img{
	border:0px;
	margin:3px 3px 0 9px ;
	padding:0px;
	position:relative;
	float:left;
}
.btn4 span{
	display:block;
	position:relative;
	padding-bottom:2px;
}
.or_address{
	padding:0px 0px 0px 29px;
	width:369px;
}
select { width:80px; height:24px; background:none; border: #CCC 1px solid; border-radius:5px; }
options {background:none; border: #CCC 1px solid; border-radius:5px; }
#text{ width:364px; height:77px; vertical-align:text-top; border-radius:5px; border:#CCC 1px solid;}
.or_address span{
	border-radius: 5px;
    color: #717171;
    display: block;
    font-size: 14px;
    font-weight: bold;
    margin: 16px 0 0;

}
.or_address span strong{
	color:#e04343;
}
.or_address input{
	width:217px;
	height:30px;
	border:#dcdcdc 1px solid;
	border-radius:5px;
}
.shopping_address input{
	width:217px;
	height:30px;
	border:#dcdcdc 1px solid;
	border-radius:5px;
}
.white_content{ width:700px; display:inline-block;}
#btn5{
	width:80px;
	height:30px;
	background:#78bf19;
	font-size:12px;
	padding:0px;
	border:none;
}
#btn6{
	padding:0px;
	width:80px;
	height:30px;
	background:#78bf19;
	font-size:12px;
	border:none;
}
.radio_tx{
	font-size:14px;
	font-weight:bold;
	color:#4c4c4c;
	margin-left:13px;
}
.spqd{
	height:36px;
	width:1161px;
	margin:0px auto;
	font-size:14px;
	color:#666666;
	font-weight:bold;
	padding: 26px 0 0 19px;
}
.spqd_info{
	width:1170px;
	height:auto !important;
	height:278px;
	min-height:278px;
	margin:0px auto;
	border:#f6f5f5 1px solid;
	border-radius:5px;
}
.spqd_1{
	background-color:#fdfdfd;
	height:40px;
}
.spqd_1 span{
	padding-top:17px;
	display:block;
	float:left;
	display:inline;

}
.b1{ margin-left:30px !important; margin-left:60px; }.b2{ margin-left:176px;}.b3{ margin-left:2px;}
.b4{ margin-left:200px;}.b5{ margin-left:245px;}.b6{ margin-left:231px;}
.spqd_2{
	height:49px;
	color:#4c4c4c;
	font-size:14px;
	border-bottom:#fdfdfd 2px solid;
	font-weight:bold;
}
.spqd_2 span{ display:block; float:left; margin-top:18px;}
.c1{ margin-left:30px !important; margin-left:25px; width:168px; overflow:hidden;}.c2{ margin-left:132px;}.c3{ margin-left:84px;}
.c4{ margin-left:117px;}.c5{ margin-left:113px; background:#78bf19; height:13px; width:36px; border-radius:5px;}.c6{ margin-left:301px;}
.spqd_3{ background:#fdfdfd; height:206px; border:none;}

.spqd_l{
	float:left;
}
.spqd_l p{ font-size:12px; color:#4c4c4c; margin:18px 0 0 10px; width: 600px;}
.spqd_l textarea{
	width:473px;
	height:95px;
	font-size:12px;
	border-radius: 5px;
	display:block;
	position: relative;
	margin:-19px 0 0 69px;
}
.yh{
	float:left;
	margin:22px 0px 0px 35px;
	
}
.spqd_r{
	height:102px;
	float:left;
	width:315px;
	margin-right:20px;
}
.spqd_r p{
	font-size:12px;
	color:#898989;
	font-weight:700;
	height:21px;
}
.spqd_sum{ font-size:14px; color:#313131; font-weight:bold; margin-top:17px;}
.spqd_sum b{ color:#78bf19; font-weight:bold;}
.spqd_sum span{color:#000}
.spqd_sum span strong{ font-size:24px;}
/*****cneter*****/
.center_hr{
	height:1px;
	background-color:#78bf19;
	border:none;
}
.center{
	width:1170px;
	margin:0px auto;
}
.c_poistion{
	height:40px;
	vertical-align:middle;
	text-justify:auto;
}
.c_poistion span{
	color:#646464;
	font-weight:bold;
	font-size:14px;
	letter-spacing:1px;
	display:inline-block;
	margin-top:10px;
}
.c_main{
	width:1170px;
	margin:15px auto;
}
.c_left{
	width:270px;
	float:left;
}

.c_order{
	background:#fdfdfd;
	border:1px #f6f5f5 solid;
	border-radius:5px;
	height:auto !important;
	min-height:189px;
	height:189px ;
	width:250px;

}
.c_person{
	margin-top:18px;
}
.c_order li{
	height:31px;
	border-bottom:#f6f5f5 1px solid;
	color:#646464;
	padding:18px 0px 0px 24px;
}
.c_r1{
	height:29px;
    padding:14px 0px 0px 18px;
	border-bottom:#78bf19 1px solid;
	font-size:18px;
	color:#999999;
}
.c_right{
	width:900px;
	float:left;
	text-align:left;
	margin:0px;
}
.r_hr{ 
	height:1px;
	border-bottom:#78bf19 1px solid;
	width:149px;
	clear:both;
}
.user_name{
	font-size:24px;
	color:#000;
	font-weight:bold;
	margin-bottom:4px;
	height:34px;
	vertical-align:text-top;
	
}
.c_txt{
	font-size:14px;
	margin-top:8px;
	float:left;
}
.user{ font-size:12px;  vertical-align:top; display:block; float:left; margin:9px 0px 0px 12px; }
.c_pro{
	clear:both;
	height:auto !important;
	height:109px;
	min-height:109px ;
	width:898px;
	border: 1px solid #F6F5F5;
	border-radius:5px;
	background:#fdfdfd;
}
.pro_t{ height:29px; color:#4c4c4c font-weight:300; letter-spacing:0.8px; padding-bottom:8px; }
.pro_t h2{ 
	color: #666666;
    float: left;
    font-size: 133.333%;
    line-height: 2;
    margin-left: 10px;
}
.pro_img{ width:90px; height:90px; border-radius:50px; border:#e0e0e0 1px solid; margin:12px 0 0 23px; float:left; background-color:#FFF;}
.pro_img img{ 
	position:absolute; 
	margin: 5px 0 0 7px; 
	border-radius:34px; 
	width: 80px;
	-webkit-width:80px; 
	height: 80px;
}
.c_pro ul{ margin:0px ; padding:0px;}
.c_pro ul dt{ height:123px; border-top:#e0e0e0 1px solid; padding-top:10px;}
.c_pro ul dt p{ padding:16px 0 30px 0 !important; padding:0px  border-right:#dcdcdc 1px solid; float:left; margin-top:23px; text-align:center; color:#6a6a6a; font-size:12px;}
.c_pro ul dt p span{ display:block; position:relative; text-align:center;  text-align: right;width: 66px;}
.pro_1{ margin-left:27px; width:295px;}
.pro_2{ margin-left:21px; width:80px; }
.pro_3{ margin-left:18px; width:76px;}
.pro_3 span{ color:#bcbcbc}
.pro_4{ margin-left:21px; width:83px;}
.pro_5{ margin-left:21px !important; margin-left:1px; display:inline; float:left; width:130px; margin-top:26px;}
.pro_5 strong{ border:0px; margin:0px ; padding:22px 0px 0px 31px !important; display:block; font-size:12px; color:#777777;}
.cart-product td{
	width: 22%;
}
/********account*********/
.account{
	width:898px;
	border: 1px solid #F6F5F5;
	border-radius:5px;
	background:#fdfdfd;
	margin-top:11px;
	height:140px;
}
.account_t{
	height:21px;
	border-bottom:1px solid #F6F5F5;
	color:#646464;
	font-size:14px;
	padding:13px 0px 0px 12px ;
}
.account_u{
	font-size:14px;
	color:#666666;
	padding-left:10px;
	padding-top:14px ;
	border-top:1px solid #E0E0E0;
}
.account_u input{
	border:1px solid #F6F5F5;
	border-radius:5px;
	height:23px;
	margin-bottom:22px;
	font-size:14px;
	font-weight:300;
	color:#646464;
}
.fx_password{
	width:898px;
	border: 1px solid #F6F5F5;
	border-radius:5px;
	background:#fdfdfd;
	margin-top:11px;
	height:245px;
}
.password{padding-left:22px; text-align:right; width:369px;}
.password input{ width:267px;}
.btn7{
	width:80px;
	background-color:#78bf19;
	height:21px;
	padding:5px 0px 2px 0px;
	position:absolute;
	margin:0px 0px 0px 76px;
}
.btn8{
	width:80px;
	background-color:#78bf19;
	height:21px;
	padding:5px 0px 2px 0px;
	position:absolute;
	margin:0px 0px 0px 101px;
}
/***********collect***********/
.collect{
	border: 1px solid #F6F5F5;
	border-radius:5px;
	background:#fdfdfd;
	margin-top:11px;
	height:auto !important;
	height:374px;
	min-height:374px;
	
}
.c_address{
	width:898px;
	border: 1px solid #F6F5F5;
	border-radius:5px;
	background:#fdfdfd;
	margin-top:11px;
	
}
.collect_t{
	height:34px;
	border-bottom:1px solid #F6F5F5;
	color:#4c4c4c;
	font-size:18px;
	font-weight:300;
	padding:19px 0px 0px 15px ;
	letter-spacing: 0.8px;
}
.collect_u{
	border-top: 1px solid #E0E0E0;
	margin-left:2px;
	margin-left:2px;
	border-radius:5px;
	background:#fdfdfd;
	margin-top:11px;
	height:auto !important;
	height:284px;
	min-height:284px;
}
.collect_u li{
	border-right:#dcdcdc 1px solid;
	width:223px;
	height:284px;
	float:left
}
.collect_u li img{
	margin:23px 0px 0px 35px;
	width: 158px;
	height: 187px;
}
#del_img{ width:8px; height:8px; margin:19px 0px 0px 35px;}
.collect_u li p{
	margin:8px 0px 0px 21px;
}
.collect_u li p span{
	color:#78bf19;

}

.p4{ color:#7a7a7a; font-size:12px; padding-left:5px;}
.btn9{
	background-color:#78bf19;
	margin:0px;
	margin:17px 0 0 23px;
	width:81px;
	height:18px;
	padding:0px;
	font-size:12px;
	font-weight:100;
	padding:2px 0px 2px 0px;
}
.del{ color:#4c4c4c; display:inline-block; float:left; position:absolute;}

/********return top****************/
.backToTop {
	_display:none;
	position:fixed;
	_position:absolute;
	z-index:1;
	right:15px;
	width:84px;
	height:143px;
	text-indent:-999px;
	overflow:hidden;
	z-index: 888;
	background-image:url(Top_20.png);
	_background-image:url(Top_20.png);
	background-repeat:no-repeat;
	background-position:0 0;
	transition:bottom 0.9s;
	-webkit-transition:bottom 0.9s;
	-moz-transition:bottom 0.9s;
	-o-transition:bottom 0.9s;
	cursor:pointer;
    line-height: 1.2;
    color: #fff;
    bottom: 100px;
    _bottom: "auto";
    cursor: pointer;
}
.back_a{
	 display:block;
	 width:84px;
	 height:82px;
	 z-index: 999;
	 position:absolute;
	 
}




.payment {
	border: 1px solid #ededed;
	border-radius: 5px;
	overflow: hidden
}

.payment-box {
	border-bottom: 1px solid #ededed;
	position: relative
}

.payment-box dt {
	width: 220px;
	padding: 20px;
	position: absolute;
	top: 0;
	left: 0;
	color: #434a54;
	font-weight: bold;
	z-index: 10
}

.payment-box dt a {
	font-size: 12px;
	color: #c60
}

.payment-box dt a:hover {
	text-decoration: underline
}

.payment-box dt p {
	font-size: 12px;
	color: #656d78;
	font-weight: normal
}

.payment-box dd {
	width: 100%;
	position: relative;
	background: #f5f7fa;
	z-index: 5
}

.payment-box dd .select-other {
	position: absolute;
	top: 50%;
	left: 460px;
	height: 24px;
	line-height: 24px;
	border-radius: 12px;
	margin-top: -12px
}

.payment-list {
	margin-left: 260px;
	padding: 20px;
	background: #fff
}

.payment-list li {
	float: left;
	width: 167px;
	padding: 10px 0
}

.payment-list li label {
	cursor: pointer
}

.payment-list li input {
	vertical-align: middle
}

.payment-list li img {
	width: auto\9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
	padding-left: 5px;
}
.goods-item{ border:none;}
.form-act {
	padding-top: 2px;
	width: 470px;
}


.c_nav{ height:30px; padding:10px 0 0 10px; font-size:14px; color:#999;}
.c_nav span{ color:#646464;}
/******MAIN******/
.center{ width:1170px; margin:0 auto;}
.c_list{float:left;}
.n_list ul{margin-bottom:17px;}
.n_list li{height:31px; width:226px; border:1px #f6f5f5 solid; border-top:none; color:#646464; font-size:14px; padding:13px 0 0 24px; background-color:#FDFDFD;}
.c_list .list_t{border:1px #f6f5f5 solid; border-bottom-color:#78bf19; border-radius:4px 4px 0 0; color:#999999; font-size:18px; padding:10px 0 0 14px; height:34px; width:236px;}
.c_list .list_b{border-radius:0 0 4px 4px;}


.content{margin-left:16px; border-radius:4px; background-color:#fdfdfd;border:1px #f6f5f5 solid;}
.content_t{height:34px; border-bottom:1px #78bf19 solid; padding:10px 0 0 14px; font-size:18px; color:#4c4c4c;}
.content_c{width:900px;}
.content_c dt{ color:#4c4c4c; margin:27px 0 0 40px; line-height:24px;}
.content_c dd{ color:#7f7f7f; padding:4px 20px 0 25px; line-height:24px;}
.content_c .last_dd{ padding-bottom:30px;}

#afterSale table{ width:508px; border-radius:4px;}
#afterSale tr{ height:34px; border-radius:4px 4px 0 0;}
.firstTr{ background-color:#78bf19;border-radius:4px;}
.caution{width:260px;  height:30px; border-radius: 5px; line-height:32px; display: inline-block; position: relative; margin: 0px 0px 0px 0px}
.caution span{ margin:0px;}
.adress_btom{ height:36px; position:relative;}
.caution q{ float:left;}
.caution-content{ float:left; display:block;}
#unused_promotion{
	text-align: left;
	float: left;
	margin: 70px 0 10px 10px;
	line-height: 20px;
	width: 300px;
	position: absolute;
}
.warn{
	position: absolute;
}
/**brand****/
/*.brand{
	width:1170px;
	margin:0px auto;
}
.br_banner{
	background:url(brand_03.jpg);
	width:1281px;
	height:389px;
	margin:0px auto;
}
.br_1{
	height:229px;
}
.br_1 h1{
	color:#000;
	font-size:48px;
	text-align:center;
	font-weight:bold;
	letter-spacing:1px;
	margin:0px;
	padding-top:72px;
}
.br_1 h2{
	color:#6b6b6b;
	font-size:24px;
	text-align:center;
	font-weight:bold;
	letter-spacing:1px;
	margin:0px;
	padding-top:25px;
}
.br_2{
	background:url(dx_brand_16.jpg);
	width:686px;
	height:118px;
	margin:0px auto;
}
.br_3{
	background:url(dx_brand_20.jpg) center no-repeat;
	width:100%;
	height:500px;
}
.brand1_l{
	float:left;
	width:546px;
}
.br_img1{
	position:absolute;
	float:left;
	margin:46px 0px 0px 474px;
}
.br_img2{
	position:absolute;
	float:left;
	margin:19px 0 0 357px;
}
.br_img3{
	position:absolute;
	float:left;
	margin:44px 0 0 259px;
}
.brand1_r{
	float:left;
	width:561px;
}
.brand1_l1{
	height:220px;
	text-align:right;
	margin-right:114px;
}
.brand1_l1 h1{
	width:453px;
}
.brand1_l1 p{
	width:453px;
}
.brand1_l2{
	height:220px;
	text-align:right;
	margin-right:213px;
}
.br_3 h1{
	padding-top:50px;
	color:#333333;
	font-size:24px;
	margin:0px;
	font-weight:normal;
}
.br_3 p{
	padding-top:10px;
	color:#676767;
	letter-spacing:1px;
	font-size:14px;
}
.brand1_r1{
	margin-left:79px;
}
.brand1_r1 h1{ padding-top:40px;}
.brand1_r1 img{
	margin-top:89px;
}
.brand1_r1 p{
	width:328px;
	line-height:24px;
}
.br_4{
	background:url(dx_brand_22.jpg);
	width:686px;
	height:118px;
	margin:0px auto;
}
.br_5{
	background:url(dx_brand_24.jpg) center no-repeat;
	width:100%;
	height:501px;
}
.brand1_l3{
	height:220px;
	text-align:right;
	margin-right:315px;
}
.br_5 h1{
	padding-top:50px;
	color:#333333;
	font-size:24px;
	margin:0px;
	font-weight:normal;
}
.br_5 p{
	padding-top:10px;
	color:#676767;
	letter-spacing:1px;
	font-size:14px;
}
.brand1_l4{
	height:220px;
	text-align:right;
	margin-right:315px;
}
.brand1_r2{
	margin-top:89px;
}
.brand1_r3{
	float:left;
}
.brand1_r2 img{
	margin-left:79px;
	margin-right:20px;
	float:left;
}
#h1_r{
	padding:0px;
}
.p_r{
	line-height:22px;
}
.br_6{
	background:url(dx_brand_26.jpg);
	width:686px;
	height:118px;
	margin:0px auto;
}
.br_6 h1{ padding-top:38px;}
.br_6 p{ line-height:22px;}
.brand1_l5{
	text-align:right;
	margin-right:10px;
	margin-top:76px;
}
.brand1_r4{
	height:251px;
	margin-top:38px;
	margin-left:80px;
}
.brand1_r4 img{ float:left;}
.brand1_r5{
	float:left;
	margin-left:18px;
}
.brand1_r7{
	float:left;
	width:604px;
}
#h1_r1{
	padding-top:5px;
	
}
.brand1_r10{
	margin-left:80px;
}
.brand1_r10 img { float:left;}
.br_8{
	background:url(brand_114.jpg);
	width:686px;
	height:118px;
	margin:0px auto;
}

.br_9 {
	margin-top:46px;
	font-size:24px;
	color:#535353;
	font-weight:bold;
	width:1005px;
	text-align:right;
}
.br_9 p{ padding-top:3px;}
.br_10{ 
	background:url(dx_brand_120.jpg) right no-repeat ;
	background-position: 127px 0px; 
	height:247px;
	}

.br_11{
	height:261px;
	text-align:center;
	padding-top:74px;
}
.br_11 h3{
	color:#5c5c5c;
	font-size:18px;
	margin:0px;
	padding-top:8px;
}
.br_12{
	background:url(dx_brand_124.jpg) no-repeat;
	height:241px;
	background-position:right;
}
.br_13{
	margin-top:46px;
	color:#333333;
	font-weight:bold;
	text-align:center;
}
.br_13 h1{	font-size:48px;}
.br_13 p{ padding-top:10px; font-size:24px; }*/
#p_13{ 
	text-align:right; 
	width:787px; 
	margin:0px auto;
	width:800px;
}
#p_14{ 
	text-align:right; 
	margin:0px auto; 
	padding-bottom:120px; 
	width:500px;
}
.p-discount{
	display:none;
}
.p-integral{
	display:none;
}
.jq_order p{
	font-size: 12px;
	font-weight: normal;
	display: block;
}
.order_log{
	font-size: 14px;
	padding-right: 20px;
	color: #78bf19;
	height: 36px;
	line-height: 36px;
	background-color: #f7f7f7;
	padding-left: 20px;
	font-weight: bold;
}
.p-info{
	width:128px;
}
.td_guige{   
	background: none repeat scroll 0 0 #FFFFFF;
}
.action-edit-payment {
	font-size:12px;
	font-weight:100;
}

.member-address-list {
	color: #666;
}
.email{
    margin: -6px 0 0 27px !important;
    margin: 0 0px 0px 10px;
}
#email{ border-right:none; width:170px;}
.dx_online{
	display: block;
	width:96px;
	height: 42px;
	margin-left: 130px;
}
#email p{ width: 170px; margin-top: -43px !important; margin-top: -39px;}
#mainBbs{ height:600px; background-color:#f4f2ed; font-weight:bold;margin-bottom: -20px;}
.bbs{ margin:0 auto; width:351px;}
.bbsword{ margin:0px auto; width:213px; font-size:40px; color:#888888; padding:70px 0;}

.payment-container .msg-success{margin: 10px 0;}
.payment-container .payment-main{ padding-top:0;}

.payment-center{margin-top: 0; padding: 0 20px;}
.payment-info .bd{padding-top: 0; }

.join_inner{ background-color:#f5f2e9; width:1170px; margin:0 auto;}
.joinCon{ float:left;}
#joinMain h1{color:#2a3851; font-size:75px; margin-top:114px;}
#joinMain h2{color:#303f5d; font-size:36px; margin-top:98px;}
#joinMain h3{color:#313131; font-size:28px; font-weight:normal; padding-top:16px;}
#joinMain h4{color:#303f5d; font-size:26px; margin-left:150px; margin-top:20px;}
#joinMain p{color:#3e5178; font-size:18px; margin-top:24px; padding-left:6px;}

.dot{ width:114px; height:405px; border-top:dotted 5px #384764;border-left:dotted 5px #384764; margin:8px 0 0 54px;}
.dot2{ width:410px; height:140px; border-bottom:dotted 5px #384764;border-left:dotted 5px #384764; margin:18px 0 0 55px;}
.dot3{ width:145px; height:300px; border-bottom:dotted 5px #384764; margin-right:20px;}
.dot4{ border-right:dotted 5px #384764; height:146px; width:90px; margin-top:20px;}
.joinLeft{ width:468px; padding-left:92px;}
.joinRight{ padding-left:120px;}
#joinMain .joinNum{ font-size:100px; color:#303f5d; font-weight:normal;}
#joinMain .joinNum span{ font-size:27px;}
#joinMain .img_1{ margin:50px 0 0 20px;}
#joinMain .img_2{ margin-left:-100px; padding-top:100px;}
.doing ul li{ float:left;}
#joinMain .jobs{ float: right; }
#joinMain .joinContent{ margin-left:20px; margin-top:20px;}

#joinMain .doing{ margin-top:200px;}
#joinMain .post{margin-top:24px;}
.post ul{margin-left:120px;}
.post ul li{padding:26px; float:left;}
.jobDetail ul{ width:870px; margin:0 auto; color:#303f5d; font-size:14px;}
.gongfu img{ width:1170px;}
.gongfu{ margin-top:30px;}
#joinMain .rulai h2{margin-top:20px; text-align:center;}

.joinMail{ font-size:20px; font-weight:bold; padding-left:20px; padding-top:20px;}
.joinMail a{ color:#384764;}
.joinMail span{font-size:16px; font-weight:normal;color:#384764;}
.zhaopinMail{padding-top:20px; color:#384764;}
.zhaopinMail a{ color:#384764;}

.brand_inner{ width:1170px; margin:0 auto; background:url(brandBg.jpg) no-repeat center top; height:2043px; text-align:center; position:relative;margin-bottom: -20px;}
.BrandDaxiang{ width:190px; height:445px; position:absolute; top:656px; left:498px; overflow:hidden;}
.BrandDaxiang img{margin-top:-382px; transition:all 1.5s ease-in-out; transform:rotate(-20deg);}
.brand_inner ul{width:474px; color:#FFFFFF; position:absolute; top:1215px; left:334px;}
.brand_inner ul li{font-size:14px; text-align: left;padding-bottom: 21px;line-height: 21px; color: #eff5f0;}
.brand_inner ul li h2{font-weight: bold; font-size: 18px; text-align: center; padding-top: 22px;}
.brandSlogan{text-align: center;padding-top: 64px; margin-left: -11px;}

#links{ text-align:left;}
#links h1{ color:#636363; font-size:38px; padding:34px 0 54px; text-align:center;}
#links ul,#links dl{ width:1170px; margin:0 auto;}
#links dt,#links dd{ text-align:left;color:#636363;}
#links dt{ font-size:18px; padding-top:70px;}
#links dd{ font-size:14px; padding-top:20px;}
#links li{ width:158px;}
#links li a{padding:17px;}
#links .delivery{ text-align:center; color:#636363; padding-top:10px; font-size:14px;}
.cart-main{table-layout: auto;}
.jq_tab{
	width: 100%;

}
.dialog-tips-body p{height: 34px;}
#jq_tab td{ text-align: center; width: 25%;}
.jq_tab li{float: left; width: 215px; text-align: center; line-height: 37px;}
.cart-main .p-quantity input{ float: none;}
.p-action{padding-right: 90px;}
.cart-main .p-quantity a{float: none;}
.ly_btn
{height: 30px;
padding: 0;
width: 86px;
margin:10px 10px 0px  0px;
background: #78bf19;}

.ljq_btn
{height: 30px;
padding: 0;
width: 86px;
margin-right: 10px;
margin-top: 10px;
background: #d0d0d0;}