@charset "utf-8";
/* CSS Document */

*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
	margin:0px;
	padding:0px;
	font-size:12px;
	background-color:#f6f6f6;
	/*background-image: url(../images/bg.jpg);*/
	font-family: "Microsoft Yahei",sans-serif,arial,"Hiragino Sans GB";
	color:#333;
}
a:focus {
	outline: thin dotted;
}
a:active,
a:hover {
	outline: 0;
}
ul{
	list-style-type:none;
	padding:0px;
	margin:0px;
}
p{ margin:0px;}
.clear{
	clear:both;
}
/*******header********/
#nav_outter{ 
	position:fixed;
	left:0px;
	top:0px;
	z-index:150;
	width: 100%; 
	height: 86px;
	border-bottom:1px solid #78BF19;
	background-color: #ffffff;
	-webkit-box-shadow: 0px 5px 10px #000000;
	-moz-box-shadow: 0px 5px 10px #000000;
}
.nav{
	height: 86px;
    margin: 0 auto;
    width: 1024px;
}

.cl-effect-12{
    height: 86px;
    float: left;
}
#logo{
	background:url(../images/logo.png) no-repeat;
	background-position:left;
	width:460px;
	height:86px;
	float:left;
}
#logo a{
	display:block;
	margin:20px 0px 0px 20px !important;
	margin:0px;
	text-decoration: none;
	padding:0px;
	width:460px;
	height:86px;

}
#logo a::before,
#logo a::after {
	position:inherit;
	top: 0%;
	left: 0%;
	border: none ;
	border-radius: 50%;
	content: '';
	opacity: 0;
}
.cl-effect-12 img{
    transition: all 0.4s ease 0s;
	margin-left:10px !important;
	margin-left:0px;
}
.cl-effect-12 a {
	position: relative;
	display: inline-block;
	outline: none;
	color: #636363;
	text-decoration: none;
	letter-spacing: 1px;
	font-weight: 400;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size:18px;
	padding:0px;
	float:left;
	margin:44px 0px 0px 63px;
	z-index:30;
}

cl-effect-12 a:hover,
cl-effect-12 a:focus {
	outline: none;
}
/* Effect 12: circle */
.cl-effect-12 a::before,
.cl-effect-12 a::after {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100px;
	height: 100px;
	border: #b1f064 2px solid ;
	border-radius: 50%;
	content: '';
	opacity: 0;
	color:#b1f064;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.2);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.2);
	transform: translateX(-50%) translateY(-50%) scale(0.2);
}

.cl-effect-12 a::after {
	width: 80px;
	height: 80px;
	color:#b1f064;
	border-width: 6px;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8);
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8);
	transform: translateX(-50%) translateY(-50%) scale(0.8);
}
.cl-effect-12 a:hover{
	color:#b1f064;
}
.cl-effect-12 a:hover::before,
.cl-effect-12 a:hover::after,
.cl-effect-12 a:focus::before,
.cl-effect-12 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(1);
	-moz-transform: translateX(-50%) translateY(-50%) scale(1);
	transform: translateX(-50%) translateY(-50%) scale(1);
}

#nav_right{
    margin: 0px;
    padding: 0;
    position:relative;
    text-align: right;
    float: left;
    display: inline;
    width: 228px !important;
    width: 220px; 
    margin-left: 30px;
    padding-top: 46px;
	
}
/*.vip li{ font-size:13px; border-right:#636363 1px solid;}*/
#nav_right p{ float:left; color:#636363; padding-top:1px;}
#nav_right a{ direction:none; }
#nav_right  li{
	float:left;
	width:auto !important;
	width:expression(document.body.clientWidth <= 36? "36px": "auto" );
	min-width:36px;
	font-size:12px;
	padding-right:9px;
	text-align:right;
	margin-right:9px ;
	font-family:Microsoft YaHei;
	color:#8a8a8a;
	font-weight:300;
}
#nav_right  li a{
	text-decoration:none;	
	position: relative;
	display: inline-block;
	outline: none;
	color: #636363;
	text-decoration: none;
	letter-spacing: 0px;
	font-weight:0;
	text-shadow: 0 0 1px rgba(255,255,255,0.3);
	font-size:12px;
	padding:0px;
	margin:0px;
	float:left;
}
	
/******body*********/
.main_body{
	width:1024px;
	min-height:800px;
	margin:110px auto;
}
	
/******footer*******/
.footer{
	width:100%;
	background-color:#f6f6f6;
	border-top:#71ec3a 1px solid;
	margin-top:20px;
}

.contact{
	width: 1024px;
	height:80px;
	margin: 0px auto;
	padding-top:30px;
}

.contact li{
	width:250px !important;
	float:left;
	border-right:#989898 1px solid;
	height:60px !important;
}
.contact li p{
	width:130px;
	margin-left:106px;
	font-size:12px;
	color:#828282;
	margin-top:-6px !important;
	margin-top:0px;
}
.contact li p a{
	text-decoration: none;;
	color: #828282;
}
.contact li strong{
	display:block;
	font-size:16px;
	font-family:Microsoft YaHei;
	
}
.phone{
	float:left;
	margin:-6px 0px 0px 38px !important;
	margin:0px 0px 0px 50px ;
}
.weixin{
	float:left;
	margin:-6px 0px 0px  26px !important;
	margin:0px 0px 0px 35px ;
	
}
.weixin2{
	display:none;
	float:left;
	margin:-22px 0 0 15px!important;
	margin:0px 0px 0px 20px ;
	cursor:pointer;
}
.weibo{
	float:left;
	margin:-6px 0px 0px 37px !important;
	margin:0px 0px 0px 35px ;
	cursor:pointer;
} 
.weibo2{
	display:none;
	float:left;
	margin:-22px 0 0 14px  !important;
	margin:0px 0px 0px 20px ;
	cursor:pointer;
}

.email{
    margin: -6px 0 0 27px !important;
    margin: 0 0px 0px 10px;
}
#email{ 
	border-right:none; 
}
#email p{ 
	margin-top:-60px !important;
}

.foot{
	width:1170px;
	margin:0px auto;
}
.foot ul{
	margin:0px auto;
	font-size:14px;
	color:#939393;
	padding-top:28px;
	padding-bottom:28px;
	height:20px;
	width:600px;
}
.foot ul li{
	float:left;
	width:160px;
	height:22px;
}
.foot ul li a{
	text-decoration:none; 
	color:#939393;
	font-size:20px;
	text-align: center;
}
.foot .copyright{
	padding-bottom:20px;
}
.foot p{
	color:#acacac;
	text-align: center;
	margin:0px auto;
	padding-top:10px;
}

.backToTop{
	width: 60px;
	height: 60px;
	position:fixed;
	right:30px;
	bottom:30px;
	cursor:pointer;
	background-image:url('../images/back_to_top4.png');
}