@charset "utf-8";

dt,dd,li,h1,h2,h3,h4,h5,h6,pre,code,form,legend,input,button,textarea,p,blockquote,th,td{
	font-family:"メイリオ","ＭＳ Ｐゴシック",sans-serif;
	font-size: 12px;
	line-height:1.5;
}
.column,.column h3,.column p,.column dt,.column dd,.column dd p,.book dd p{
font-family:"メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
.copyWork dd, .copyWork dd p,
p.credit,
#polylogue .dialogue p strong{
font-family:"メイリオ","ＭＳ Ｐゴシック",sans-serif;
}
